# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# Temporary files
temp_*.xlsx
*.xlsx
*.xls

# Streamlit
.streamlit/ 